/*
    Designed and developed by:
    	
 	 \(▔＾▔)/

    Amiko Tong
*/

html {
    margin-top: 0pc;
    margin-bottom: 0pc;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
    color: black;
    /*
    background-color: white;
    background-color: #0f0f0f;
*/
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.font {
    font-family: Helvetica, Arial, sans-serif;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: oblique;
}

.light {
    /*    opacity: 0.6;*/

    font-weight: 300;
}

.highlight {
    color: black;
    opacity: 1;
    background-color: rgba(121, 245, 119, 0.2);

}


.logo {
    position: fixed;
    left: 2%;
    margin-top: 2vw;
    color: black;
}


.logo:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in;
}

.logo_text {
    font-size: 1.4vw;
    font-weight: bold;
}

.nav_con {
    position: fixed;
    right: 2%;
    margin-top: 2vw;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.nav_text {
    margin: auto 0;
    font-family: Font02;
    color: black;
    font-size: 1.1vw;
}


section {
    margin: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    /*    background-color: brown;*/
}



.one {
    width: auto;
    /*    height: 84vh;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, hsla(245, 86%, 92%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
}

.one_top {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one_middle {
    width: auto;
    height: auto;
    line-height: normal;
    /*    flex: 1;*/
    display: flex;
    font-size: 5vw;
    /*    background-color: white;*/
    margin: 0 8vw;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.one_bottom {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    /*    background-color: white;*/
    margin: 0 8vw;
}

.dec_text {
    font-size: 1.1vw;
}

.arrow {
    margin: auto;
    font-size: 2vw;
    font-weight: 300;
}


/*
.value {
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-left: 8vw;
    line-height: 150%;
}
*/


.button {
    width: auto;
    height: auto;
    padding: 0.4vw 0.6vw;
    border-radius: 2vw;
    background-color: rgb(255, 255, 255, 0.2);
    color: black;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
    font-family: Font02;
    font-size: 1vw;

}

.button:hover {
    border-radius: 50%;
}

.nav_text:hover {
    /*    opacity: 1;*/
    /*    border-radius: 0;*/
    text-decoration: underline;
    transition: all 0.2s ease-in;
}


.show {
    display: block;
}

.two {
    width: auto;
    height: auto;
    background-color: black;
    background-color: #0f0f0f;
    /*    margin: 0 8vw; */
}


.project_list_con {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /*    margin: 8% 0;*/
    margin: 8% 8vw;

}

.project_list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin-top: 4vh;



}



.p_frame {
    flex: 1;
    height: auto;
    position: relative;
    top: 0;

    border-radius: 1vw;
    display: flex;
    /*    background-color: aliceblue; */

}

.p_frame:hover {
    top: -3px;
    /*    background-color: white;*/
    transition: all 0.2s ease-in;
}

.p_img {
    border-radius: 1vw;
    /*    object-fit: cover;*/
    /*    background-color: black;*/

}

.p_text {
    flex: 1;
    height: auto;
    margin-top: 2vw;
    /*    background-color: burlywood; */
}

.p_date_type {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 1vw;
    margin-bottom: 2vw;
}

.p_date {
    margin: auto 0;
    color: black;
    color: white;
    opacity: 0.8;
}

.p_type {
    /*    background-color: gray;*/
    padding: 0.4vw 0.6vw;
    border: 1px white solid;
    border-radius: 2vw;
    font-family: Font02;
    color: black;
    color: white;
}

.p_name {
    width: auto;
    height: auto;
    font-size: 3vw;
    /*    margin: 2vw 0;*/
    color: black;
    color: white;
}

.p_name:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in;
}



.p_detail {
    color: grey;
}

.p_detail_link {
    color: grey;
    font-family: Font02;
}

.p_detail_link:hover {
    text-decoration: underline;
    transition: all 0.2s ease-in;
}


/*below is footer data*/

footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 2%;
    padding-bottom: 4vw;
    background-color: #0f0f0f;
}

.footer_text {
    font-size: 0.9vw;
    color: #8C8C8C;
    margin: auto 0;
    /*    background-color: beige; */
}



/*above is footer data*/


/*Mobile*/

@media only screen and (max-width: 599px) {
    body {
        font-size: 14px;
    }

    .logo_text {
        font-size: 30px;
    }

    .value {

        margin-left: 36vw;

    }

    .one {

        height: 60vh;

    }

    .project_list {

        flex-direction: column;
        column-gap: 2vw;
        margin-top: 4vh;
    }

    .p_text {
        margin-top: 20px;
    }

    .p_date_type {

        grid-gap: 12px;
        margin-bottom: 24px;
    }

    .p_type {
        padding: 6px 8px;
        border-radius: 18px;

    }

    .p_name {

        font-size: 24px;

    }
}

/*Tablet*/

/*
@media only screen and (min-width: 600px) and (max-width: 904px) {
    body {
        width: auto;
        margin: 0 32px;

        background-color: coral;
    }


}
*/

/*Large Tablet*/

/*
@media only screen and (min-width: 905px) and (max-width: 1239px) {
    body {
        width: 840px;
        margin: 0 auto;

        background-color: yellow;
    }


}
*/

/*Laptop*/


/*
@media only screen and (min-width: 1240px) and (max-width: 1439px) {
    body {
        width: auto;
        margin: 0 200px;

        background-color: yellowgreen;
    }


}*/